:root {
    --background: #18181b;
    --primary: #3b82f6;
    --secondary: #ec700d;
    --accent: #302d7e;
    --text: #e4e4e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
    padding: 30px;
    height: 100vh;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #e4e4e715;
        border-radius: 10px;
        padding: 30px;

        .team {
            width: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            gap: 15px;

            article {
                width: 50%;
                height: 100%;
                max-width: 300px;
                display: flex;
                flex-direction: column;
                background: var(--accent);
                border-radius: 10px;
                overflow: hidden;
                gap: 15px;

                img {
                    flex: 2;
                    object-fit: cover;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 15px;
                }
            }
        }
    }
}
